<p>
  Author: <%= @message.author %>
  -- created: <%= @message.created_at %>
</p>

<p>
  URL: <%= @message.link %>
</p>

<p>
  <%= @message.content %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>
